<% content_for(:title, "Ser Carioca é simplismente questão de estilo, tire onda e seja Carioca" )%>


<section id="parallaxAbout" data-speed="6" data-type="background" data-turbolinks-permanent>

  <div class="container-fluid">

    <div class="parallax-text">

        <h2>Sobre os Cariocas<strong>Seja um Carioca</strong></h2>

    </div>

  </div>

</section>

<div class="page-title">
  <h1 class="text-center">Carioca de Alma e Coração</h1>
</div>

<div class="container page-about">

  <div class="col-md-1"></div>

  <div class="col-md-6">

    <h3>Significado da palavra <strong>Carioca</strong></h3>

    <p>No século XVI, os índios tupinambás que dominavam a região da Baía de Guanabara teriam apelidado os
      invasores portugueses de akari (termo tupi para uma espécie de peixe, o cascudo) devido ao fato de
      as armaduras dos portugueses se assemelharem às típicas placas que revestem esse peixe. Com a segunda
      expedição portuguesa à Baía de Guanabara, em 1503, liderada por Gonçalo Coelho, teria sido,
      construída pelos portugueses, em uma das foz do Rio Carioca, na atual Praia do Flamengo, uma
      casa de pedra que os índios tamoios teriam chamado de akari oka, "casa de homem branco".</p>

    <h3>Da onde vem o termo <strong>Carioca</strong></h3>

    <p>O termo vem de duas palavras tupi: karaiwa ("homem branco") e oka ("casa"),
      que, juntas, querem dizer, obviamente, "casa do homem branco". Os índios
      passaram a usar a expressão logo após a fundação do Rio de Janeiro, para se
      referir à cidade - mas como apelido para os moradores o termo só começou a
      ser usado a partir do século XVIII.</p>

    <h3>Você é um Carioca da Gema?</h3>

    <p>Depois de muito pesquisar é possivel dizer que dentro do conceito popular
      a denominação "carioca da gema" é usada para definir as pessoas nascidas e
      criadas na cidade do Rio de Janeiro, tendo sua mãe e pai considerados como
      cariocas. Denomina-se "da gema" pelo fato de uma pessoa nascer da união de
      dois cariocas ou por já ser considerado carioca antes de seu nascimento.</p>

    <h2>Blza blza... chega de bla bla bla!</h2>

    <h4>Você nasceu no Rio? Então é um Carioca, este site é para você!</h4>

    <h4>Você não nasceu no Rio, mas se identifica com a cultura Carioca? É isso ai, você é um Carioca de alma e coração, este site também é para você!</h4>

  </div>

  <div class="col-md-4">

    <h3>Cultura <strong>Carioca</strong></h3>

    <p>Carioca não diz sim, FALA JÁ É;</p>
    <p>Carioca não entende, SE LIGA;</p>
    <p>Carioca não entra, INVADE;</p>
    <p>Carioca não pede, IMPÕE;</p>
    <p>Carioca não reclama, PROTESTA;</p>
    <p>Carioca nçao fala Oi, fala COÉ;</p>
    <p>Carioca não fala Vai, METE O PÉ OU VAZA.</p>
    <p>Carioca não pede desculpas, diz FOI MAL;</p>
    <p>Carioca não diz Obrigado, diz VALEU;</p>
    <p>Carioca não passeia, DÁ UM ROLÉ;</p>
    <p>Carioca jamais é "MANO", Carioca é sempre "MERMÃO";</p>
    <p>Carioca não atende o telefone e diz ALÔ, diz "FALA AÊ";</p>
    <p>Carioca não dá idéia, MANDA UMA REAL;</p>
    <p>Carioca não conversa, ELE DESENROLA.</p>
    <p>Carioca não fala tá certo, FALA TÁ TRANQUILO;</p>
    <p>Carioca não usa tênis, VAI DE HAVAIANAS MESMO!</p>
    <p>Carioca não é marrento, É CARIOCAAAA!!</p>
    <p><strong>CARIOCA NÃO É SÓ NASCER NO RIO...<br />É UM ESTILO DE VIDA</strong></p>

  </div>

  <div class="col-md-1"></div>

  <div class="clearfix"></div>

  <br /><br />

</div>
