<% content_for(:title, "Valeu sangue bom!" )%>


<section id="parallaxByeBye" data-speed="6" data-type="background" data-turbolinks-permanent>

  <div class="container-fluid">

    <div class="parallax-text">

        <h2>Valeu peixe!<br /><strong>Até a próxima Cariocada!</strong></h2>

    </div>

  </div>

</section>

<section style="margin:120px 0 100px">

  <div class="container">

      <div class="people-list">

        <%= render partial: "users/list", locals: { users: @users } %>

      </div>

  </div>

</section>
