<% content_for(:title, "Você merece um fiu-fiu ou sai fora?" )%>


<section id="parallaxBar" data-speed="6" data-type="background" data-turbolinks-permanent>

  <div class="container-fluid">

    <div class="parallax-text">

        <h2><strong>Vamos Cariocar</strong></h2>
        <h1>Cariocas são bonitos / Cariocas são sacanas / Cariocas são modernos /
          Cariocas nascem craques / Cariocas tem sotaque / Cariocas são alegres.
          Nós temos estilo, se você se identifica, <strong>então você também é um Carioca de alma e coração</strong>.</h1>

    </div>

  </div>

</section>

<section data-turbolinks-permanent>

  <div class="container-fluid">

    <div class="content-about">

      <h3><strong>Você é Carioca?</strong> Este jogo é para você!</h3>

      <div class="col-md-3">

        <i class="fa fa-facebook-official"></i>

        <strong class="title">Conecte-se</strong>
        <p>Conecte a conta do Facebook e utilize a sua foto de perfil.</p>

      </div>

      <div class="col-md-1"><i class="fa fa-chevron-right"></i></div>

      <div class="col-md-4">

        <i class="fa fa-users"></i>

        <strong class="title">Comece a Cariocar</strong>
        <p>Seja um Carioca e mande <strong>sai fora</strong> ou <strong>fiu-fiu</strong> para as pessoas mais bonitas e merecedoras.</p>

      </div>

      <div class="col-md-1"><i class="fa fa-chevron-right"></i></div>

      <div class="col-md-3">

        <i class="fa fa-trophy"></i>

        <strong class="title">Popularidade</strong>
        <p>A cada 'fiu-fiu' você aumenta a popularidade das pessoas.</p>

      </div>

      <div class="text-centered">
        <p>Atenção: Todos as Cariocadas são anônimas, você pode falar a verdade sem medo! <strong>:)</strong></p>
      </div>

      <a href="/auth/signin" class="btn btn-lg btn-block omb_btn-facebook">
        <i class="fa fa-facebook-official"></i>
        <span>Conectar com Facebook</span>
        <strong>Começar agora o Jogo</strong>
      </a>

    </div>

  </div>

</section>

<section id="parallaxBarTwo" data-speed="14" data-type="background" data-turbolinks-permanent>

  <div class="container-fluid">

    <div class="parallax-text">

      <h2>Somos fascinados por <br /><strong>beleza e futebol</strong></h2>

    </div>

  </div>

</section>

<section data-turbolinks-permanent>

  <div class="container-fluid">

    <div class="content-about">

      <h3><strong>Você acha que está arrasando?</strong> Tem certeza? Entre pro jogo!</h3>

      <div class="col-md-3">

        <i class="fa fa-user-plus"></i>

        <strong class="title">Convide</strong>
        <p>Convide seus amigos. Se eles se identificam com a cultura Carioca, para nós são cariocas!</p>

      </div>

      <div class="col-md-1"><i class="fa fa-chevron-right"></i></div>

      <div class="col-md-4">

        <i class="fa fa-check"></i>

        <strong class="title">Grande Momento</strong>
        <p>Seus amigos vão mandar <strong>fiu-fiu</strong> ou <strong>sai fora</strong> para você. Não adianta brigar com eles, tudo é feito de forma anônima.</p>

      </div>

      <div class="col-md-1"><i class="fa fa-chevron-right"></i></div>

      <div class="col-md-3">

        <i class="fa fa-clock-o"></i>

        <strong class="title">Hora da Verdade</strong>
        <p>Vá tomar um mate leão e dê tempo aos seus amigos. Em seguida veja o resultado e divirta-se!</p>

      </div>

      <div class="text-centered">
        <p>Seja carioca de verdade, nós adoramos tirar onda! Prefira deixar a sua foto pública e mande muitos <strong>'fiu-fiu'</strong> por ai. <strong>:)</strong></p>
      </div>

        <a href="/auth/signin" class="btn btn-lg btn-block omb_btn-facebook">
          <i class="fa fa-facebook-official"></i>
          <span>Conectar com Facebook</span>
          <strong>Começar agora o Jogo</strong>
        </a>

    </div>

  </div>

</section>

<!--
<section id="parallaxBarThree" data-speed="28" data-type="background" data-turbolinks-permanent>

  <div class="container-fluid">

    <div class="parallax-text">

      <h2>É bem por ai...</h2>
      <h3><strong>Beijinho no ombro!</strong> <br />Desejo a todas inimigas vida longa.</h3>

    </div>

  </div>

</section>

<section data-turbolinks-permanent>

  <div class="container-fluid">

    <div class="content-about">

      <h3><strong>Ahhh sim, quase esquecemos da melhor parte</strong></h3>

      <div class="tip-final">

        <img src="/assets/catf.jpg" class="catf pull-left" />

        <div class="col-md-2">
          <p class="arrow_left_text">Ela manda um <strong>'fiu-fiu'</strong></p>
          <img src="/assets/arrow1.png" class="arrow_left" />
          <i class="fa fa-heartbeat"></i>
          <img src="/assets/arrow2.png" class="arrow_right" />
          <p class="arrow_right_text">Ele também manda um <strong>'fiu-fiu'</strong></p>
        </div>

        <img src="/assets/catm.jpg" class="catm pull-left" />

        <div class="clearfix"></div>

        <h4>Rolou um clima hein... <br /> Todo carioca adora uma boa pegação!</h4>
        <h3>Sempre que rolar um clima, colocaremos as pessoas em contato para conversarem em modo privado.</h3>

      </div>

      <a href="/auth/signin" class="btn btn-lg btn-block omb_btn-facebook">
        <i class="fa fa-facebook-official"></i>
        <span>Conectar com Facebook</span>
        <strong>Começar agora o Jogo</strong>
      </a>

    </div>

  </div>

</section>
-->
